<html<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wynik firmy</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
    <div>*tu będzie reszta*</div>

    {% if gowork_url %}
    <div hx-get="{% url 'wordcloud_fragment' %}?gowork_url={{ gowork_url }}"
         hx-trigger="load"
         hx-swap="outerHTML">
        <p>Trwa generowanie chmury słów...</p>
    </div>
    {% endif %}

</body>
</html>