<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="{% url 'offer_form' %}" method="POST">
            <label for="company">Firma:</label>
            <input type="text" id="company" name="company"><br><br>
            <label for="position">Stanowisko</label>
            <input type="text" id="position" name="position"><br><br>
            <label for="offer">Tekst oferty</label>
            <input type="text" id="offer" name="offer"><br><br>
            <button><a href="{% url 'company_score' %}">Zbadaj</a></button>
    </form>
</body>
</html>