<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="{% url 'offer_form' %}" method="POST">
    {% csrf_token %}
            <label for="company">Firma:</label>
            <input type="text" id="company" name="company"><br><br>
            <label for="gowork_url">Link do strony firmy na gowork.pl</label>
            <input type="text" id="gowork_url" name="gowork_url"><br><br>
            <label for="position">Stanowisko</label>
            <input type="text" id="position" name="position"><br><br>
            <label for="offer">Tekst oferty</label>
            <textarea id="offer" name="offer"></textarea>
            <button>Zbadaj</button>
    </form>
</body>
</html>